<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.classicube.android.client"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="26"/>
  
  <application android:icon="@mipmap/ccicon" android:label="ClassiCube">
    <provider
        android:name="com.classicube.CCFileProvider"
        android:authorities="com.classicube.android.client.provider"
        android:exported="false"
        android:grantUriPermissions="true" >
    </provider>

    <activity android:name="com.classicube.MainActivity" android:label="ClassiCube"
              android:configChanges="orientation|screenSize|keyboard|keyboardHidden">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
