name: Build latest (PSP)
# trigger via either push to selected branches or on manual run
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-psp
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: pspdev/pspdev:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          apk add curl curl-dev

      - name: Compile PSP build
        run: |
          make psp
          
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'EBOOT.PBP'
          DEST_NAME: 'EBOOT.PBP'
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'ClassiCube-psp.elf'
          DEST_NAME: 'ClassiCube-psp.elf'
          
          
      - uses: ./.github/actions/notify_success
        with:
          DESTINATION_URL: '${{ secrets.NOTIFY_URL }}'
          WORKFLOW_NAME: 'psp'
          

      - uses: ./.github/actions/notify_failure
        if: failure()
        with:
          NOTIFY_MESSAGE: 'Failed to produce PSP build'
          WEBHOOK_URL: '${{ secrets.WEBHOOK_URL }}'
