name: Build latest (NDS)
# trigger via either push to selected branches or on manual run
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-nds
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: skylyrac/blocksds:dev-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          apt-get update
          apt-get -y install curl

      - name: Compile NDS build
        run: |
          make ds
          export BUILD_NONET=1
          make ds
 
         
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'ClassiCube.nds'
          DEST_NAME: 'ClassiCube.nds'
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'build/nds/cc-arm9.elf'
          DEST_NAME: 'ClassiCube.elf'

      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'ClassiCube-nonet.nds'
          DEST_NAME: 'ClassiCube-nonet.nds'
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'build/nds_nonet/cc-arm9.elf'
          DEST_NAME: 'ClassiCube-nonet.elf'
          
          
      - uses: ./.github/actions/notify_success
        with:
          DESTINATION_URL: '${{ secrets.NOTIFY_URL }}'
          WORKFLOW_NAME: 'nds'


      - uses: ./.github/actions/notify_failure
        if: failure()
        with:
          NOTIFY_MESSAGE: 'Failed to produce NDS build'
          WEBHOOK_URL: '${{ secrets.WEBHOOK_URL }}'
