name: Build latest (MS DOS)
# trigger via either push to selected branches or on manual run
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-msdos
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/volkertb/debian-djgpp
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          apt-get update
          apt-get -y install curl

      - name: Compile MS dos build
        run: |
          make CC=gcc dos


      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'CCDOS.EXE'
          DEST_NAME: 'ClassiCube.exe'
          
          
      - uses: ./.github/actions/notify_success
        with:
          DESTINATION_URL: '${{ secrets.NOTIFY_URL }}'
          WORKFLOW_NAME: 'msdos'


      - uses: ./.github/actions/notify_failure
        if: failure()
        with:
          NOTIFY_MESSAGE: 'Failed to produce MS DOS build'
          WEBHOOK_URL: '${{ secrets.WEBHOOK_URL }}'
