name: Build latest (FreeBSD)
# trigger via either push to selected branches or on manual run
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-freebsd
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: empterdose/freebsd-cross-build:11.4
    steps:
      - uses: actions/checkout@v4

      - name: Install prerequisites
        run: apk add bash wget curl

      - name: Retrieve OpenGL and X11 dev files (64 bit)
        run: |
          mkdir freebsd64
          cd freebsd64
          wget https://github.com/ClassiCube/rpi-compiling-stuff/raw/main/freebsd64.zip
          unzip freebsd64.zip

      - name: Retrieve OpenGL and X11 dev files (32 bit)
        run: |
          mkdir freebsd32
          cd freebsd32
          wget https://github.com/ClassiCube/rpi-compiling-stuff/raw/main/freebsd32.zip
          unzip freebsd32.zip  

      - name: Compile FreeBSD builds
        shell: bash
        env: 
          LIBS: "-lm -lpthread -lX11 -lXi -lGL -lexecinfo"
          SRCS: "src/*.c third_party/bearssl/*.c"
          FLAGS: "-O1 -s -fno-stack-protector -fno-math-errno -Qn -Werror -fvisibility=hidden -rdynamic -Werror"
          PLAT32_FLAGS: "-fno-pie -fcf-protection=none -I freebsd32/include -L freebsd32/lib"
          PLAT64_FLAGS: "-fno-pie -fcf-protection=none -I freebsd64/include -L freebsd64/lib"

        run: |
          LATEST_FLAG=-DCC_COMMIT_SHA=\"${GITHUB_SHA::9}\"
          
          i386-freebsd11-clang ${{ env.SRCS }} ${{ env.FLAGS }} ${{ env.PLAT32_FLAGS }} $LATEST_FLAG -o cc-fbsd32-gl1 ${{ env.LIBS }}
          x86_64-freebsd11-clang ${{ env.SRCS }} ${{ env.FLAGS }} ${{ env.PLAT64_FLAGS }} $LATEST_FLAG -o cc-fbsd64-gl1 ${{ env.LIBS }}
          
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'cc-fbsd32-gl1'
          DEST_NAME: 'ClassiCube-FreeBSD-32'
          
      - uses: ./.github/actions/upload_build
        with:
          SOURCE_FILE: 'cc-fbsd64-gl1'
          DEST_NAME: 'ClassiCube-FreeBSD-64'
          
          
      - uses: ./.github/actions/notify_success
        with:
          DESTINATION_URL: '${{ secrets.NOTIFY_URL }}'
          WORKFLOW_NAME: 'freebsd'


      - uses: ./.github/actions/notify_failure
        if: failure()
        with:
          NOTIFY_MESSAGE: 'Failed to produce FreeBSD build(s)'
          WEBHOOK_URL: '${{ secrets.WEBHOOK_URL }}'
